body {
  /* background: url("../public/rime_wallpaper.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Oldenburg', cursive, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}